/* DJ ColDog Page CSS */

h1, h2, h3, a {
  color: #b81a01;
}

a:active {
  color: #a61701;
}

.btn {
  background-color: #b81a01;
  border: none;
  color: #f0f0f0;
  padding: 16px 32px;
  margin: 4px 2px;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  background-color: #a61701;
}

.btn:active {
  background-color: #931501;
}

/* BEGIN SCROLLBAR*/

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #b81a01 #f5f5f5; /* Thumb, Track */
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #b81a01;
}

::-webkit-scrollbar-thumb:active {
  background: #a61701;
}

/* END SCROLLBAR*/
