/* Main Website CSS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ddd;
  line-height: 1.6;
}

header {
  margin-top: 100px;
  text-align: center;
}

h1, h2, h3 {
  color: #0096cd;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
  margin-top: 14px;
  margin-bottom: 0;
}

.h2 {
  margin-left: 2%;
}

h3 {
  font-size: 26px;
  margin-top: 14px;
  margin-bottom: 8px;
}

.h3 {
  margin-left: 4%;
}

p, li {
  color: #444;
  font-size: 18px;
}

p, ol, ul {
  margin-top: 0;
  margin-bottom: 14px;
}

ul, ol {
  list-style-position: inside;
}

a {
  text-decoration: none;
  color: #0096cd;
}

p em {
  color: #444;
  font-size: 16px;
}

a:active {
  color: #0060a0;
}

main {
  margin: 2% 20%;
}

@media screen and (max-width: 680px) {
  main {
    margin: 0% 5%;
    margin-top: 100px;
    margin-bottom: 15%;
  }
}

code {
  border-radius: 0.4vw;
  background: darkslategray;
  color: #f0f0f0;
  padding: 4px 8px;
  font-family: 'Source Code Pro', monospace;
}

.btn {
  background-color: #0096cd;
  border: none;
  color: #f0f0f0;
  padding: 16px 32px;
  margin: 4px 2px;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  background-color: #0060a0;
}

.btn:active {
  background-color: #0040cd;
}

table {
  font-family: Roboto, sans-serif;
  border-collapse: collapse;
  width: 100%;
  padding: 12px;
}

td, th {
  border: 1px solid #aaa;
  color: #444;
  text-align: left;
  padding: 8px;
  margin: 18px;
  font-size: 18px;
}

tr:nth-child(even) {
  background-color: #adf;
}

tr:nth-child(odd) {
  background-color: #eee;
}

.table {
  margin: 0;
  padding: 12px 0;
}

#embedded-badge-95b572d6-77af-401b-a190-8a85302ce27d, 
#embedded-badge-81bbccfb-0650-49da-b13d-be4452475bef, 
#embedded-badge-ff9f4c8e-93d9-4ace-bf8d-73482d8f78ac,
#embedded-badge-c0c32f1b-efce-4e63-8d32-7400b448b2cd,
#embedded-badge-daed92fb-9fa8-4a91-ab22-0ed51bd2654c,
#embedded-badge-d97d90c5-6d9d-4236-9ce8-6741f5072f93,
#embedded-badge-a921ef24-3ebf-449b-9fdb-29cce327c9d3,
#embedded-badge-bdb9a895-602e-4921-ab9c-b346b2d5a13b,
#embedded-badge-df74d9da-3e3c-4a21-88ce-794963a429d8

{
  background: #FFF;
  margin: 0 2px;
}

/* BEGIN SCROLLBAR*/

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #0096cd #ddd; /* Thumb, Track */
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #0096cd;
}

::-webkit-scrollbar-thumb:active {
  background: #0060a0;
}

/* END SCROLLBAR*/
