/* Main Website CSS */

/* ===== Google Font Import - Roboto, Source Code Pro, Poppins ===== */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* Main */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 120px;
    background: #f0faff;
}

main {
    width: 960px;
    margin: 0 auto;
}

section {
    margin-bottom: 40px;
}

header h1 {
    width: 960px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 14px;
}

h1,
h2,
h3 {
    font-family: Nunito, Arial, Helvetica, sans-serif;
    font-weight: 700;
}

p,
li {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 36px;
    margin-bottom: 14px;
}

h2 {
    font-size: 24px;
    margin-bottom: 14px;
}

h3 {
    font-size: 18px;
    margin-bottom: 14px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 14px;
}

section ul,
section ol {
    padding-left: 20px;
    margin-bottom: 14px;
}

a {
    color: #0096dc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* ===== MARK: Scrollbar */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 0.6vw;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: #0096cd;
}

::-webkit-scrollbar-thumb:active {
    background: #0077b6;
}

/* Firefox *
* {
    scrollbar-width: 0.5vw;
    scrollbar-color: #0096cd transparent; /* Thumb, Track *
}*/
