/* Footer CSS */

footer {
    background-color: #333;
    overflow: hidden;
    padding: 120px 15%;
  }
  
  footer h4 {
    color: #0096cd;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 4px;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
  }
  
  footer li a {
    color: #f0f0f0;
    font-size: 14px;
    opacity: 0.8;
  }
  
  footer li {
    line-height: 1.2;
    text-align: center;
  }
  
  footer a:hover {
    opacity: 1;
    font-weight: bold;
    transition: 600ms;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 36px 0;
  }
  
  @media screen and (max-width: 909px) {
    .column {
      width: 100%;
      padding: 8px 0;
    }
  }
  
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .socials {
    text-align: center;
  }
  
  .socials a i {
    color: #f0f0f0;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 24px;
    margin-inline: 12px;
    opacity: 0.8;
  }
  
  .copyright {
    color: #f0f0f0;
    font-size: 12px;
    text-align: center;
    padding-top: 24px;
    margin-bottom: 0;
    opacity: 0.6;
  }
